version: '3.8'

services:
  database:
    image: mysql:9.6.0
    container_name: tw_stock_database
    restart: "always"
    ports: 
        - 3306:3306
    environment: 
        MYSQL_USER: user 
        MYSQL_PASSWORD: stock
        MYSQL_ROOT_PASSWORD: stock
    volumes:
        - ../StockDB:/var/lib/mysql
    healthcheck:
        test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-pstock"]
        interval: 5s
        timeout: 5s
        retries: 10
        start_period: 30s
    networks:
        - db_network

networks:
  db_network:
    external: true